.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.number {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

@media (prefers-color-scheme: dark) {
    .number {
        color: white;
    }
}

.unit {
    font-weight: bold;
}