.monetary-input {
    display: flex;
    float: right;
    text-align: right;
    width: 50%;
}

input {
    border: none;
    width: 100px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
